aiohttp==3.6.2
appdirs==1.4.4
appnope==0.1.0
astroid==2.3.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.2
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.10b0
braceexpand==0.1.5
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
discord.py==1.5.1
entrypoints==0.3
flake8==3.7.9
html5lib==1.0.1
humanize==2.4.0
idna==2.9
import-expression==1.1.2
ipykernel==5.3.2
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
jishaku==1.18.2.188
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.9.1
matplotlib==3.2.1
mccabe==0.6.1
multidict==4.7.5
mypy==0.770
mypy-extensions==0.4.3
numpy==1.18.4
pandas==1.0.4
parso==0.7.0
pathspec==0.8.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.12.0
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
regex==2020.5.14
requests==2.23.0
rope==0.16.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0.1
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
ujson==1.35
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
wrapt==1.11.2
yapf==0.29.0
yarl==1.4.2
